#login-page {
    background: url("../../images/background.jpg") 100% 100% no-repeat;

    .feature-box {
        width: 840px;
        margin: 135px auto;

        .left,
        form {
            padding: 50px 40px;
            float: left;
            width: 100%;
        }

        form {
            input {
                padding: 15px;
                width: 100%;
            }

            .id {
                margin-bottom: 10px;
            }

            .password {
                margin-bottom: 20px;
            }

            .inner-link {
                a {
                    line-height: 46px;
                }
            }

            .submit-btn {
                color: #fff;
                background-color: #41af4b;
                border-color: #41af4b;

                &:hover {
                    background-color: #ebebeb;
                    border-color: #ebebeb;
                }
            }

            a.submit-btn {
                font-size: 16px;
                display: inline-block;
                padding: 0 24px;
                line-height: 44px;
                border-radius: 3px;
            }
        }

        .subtitle {
            font-size: 12px;
            line-height: 1;
        }

        .slides {
            img {
                width: 220px;
                height: auto;
            }

            p {
                padding-top: 17px;
                color: #d2d2d2;
            }
        }

        .right-title {
            height: 57px;

            h2 {
                display: inline-block;
                margin: 0 auto;
                line-height: 57px;
            }
        }

        #vend-tag {
            float: left;
            display: inline-block;
            height: 100%;
            padding-right: 16px;
        }
    }
}