.heading--2,
h2 {
    color: #404040;
    line-height: 1.2em;
    font-weight: 300;
    margin: 0 0 20px;
    font-size: 35px;
}

.heading--5,
h5 {
    color: #fff;
    line-height: 1.2em;
    font-weight: 600;
}
.float-right{
    float:right;
}
.bg-dark {
    background-color: #525252;
}

.bg-light {
    background-color: #fff;
}
.font-dark{
    color: #404040;
}
.font-grey, {
    color: #dfdfdf;
    a{
        color: #dfdfdf;
        &:hover,&:forus{
            color: #dfdfdf;
            text-decoration: none;
        }
    }
}
.font-light{
    color:#fff;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}
