#top-bar {
    height: 30px;
    overflow: visible;
    background-color: #525252;
    font-family: proxima-nova, sans-serif;
    position: static;
    z-index: 1;
    .content {
        max-width: 63.87rem;
        padding-left: 1.305rem;
        padding-right: 1.305rem;
        margin-left: auto;
        margin-right: auto;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }
    ul {
        list-style: none;
        float: right;
        margin: 0;
        padding: 0;
        color: #dfdfdf;
        font-size: 11px;
        font-weight: 700;
        &:first-child {
            float: left;
        }
        .icons {
            margin: 0 0 0 16px;
            width: auto;
            position: relative;
            display: list-item;
            a {
                display: inline-block;
                margin-top: 2px;
                overflow: visible;
                height: 30px;
                vertical-align: top;
                padding: 0;
                width: 14px;
                -webkit-transition: all .2s;
                -moz-transition: all .2s;
                -o-transition: all .2s;
                transition: all .2s;
            }
        }
        .icon {
            width: 14px;
            height: 10px;
        }
        .chat-icon {
            background: url(../../images/chat_icon.svg) no-repeat center;
        }
        .phone-icon {
            background: url(../../images/phone_icon.svg) no-repeat center;
        }
        .flat-nz {
            background: url(../../images/flag-nz.svg) no-repeat center;
        }
    }
    li {
        float: left;
        margin: 0;
        line-height: 30px;
        height: 30px;
        a {
            padding: 0 10px;
            display: inline-block;
            color: #f5f5f5;
            width: 101%;
            height: 100%;
        }
    }
}
