.mt20{
	margin-top:20px;
}
.mt45{
	margin-top:45px;
}
.mb25{
	margin-bottom:25px;
}
.mb45{
	margin-bottom:45px;
}
.ph40{
    padding-left:40px;
    padding-right:40px;
}
.pv50{
    padding-top:50px;
    padding-bottom:40px;
}

@media (max-width: 767px) {
    .ph-sm-20{
        padding-left:20px;
        padding-right:20px;
    }
}